<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../../layouts/head'); %>
</head>
<body>
    <header>
        <%- include('../../layouts/header'); %>
    </header>
    <main>
        <%- include('../../layouts/hero');  %>
        <%- include('./main');  %>
    </main>
    <footer>
        <%- include('../../layouts/footer'); %>
    </footer>
</body>
</html>